{% extends "partials/base.html" %}
{% load crispy_forms_tags %}



{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block feature_news %}
<div class = 'container'>
<div class = 'col-md-6 offset-md-3'>
    <form method="post">
    {% csrf_token %}
    <fieldset class='form-group'>
    <legend class="border-bottom mb-4" >Join us</legend>
    {{ form|crispy }}
    </fieldset>
    <div class='form-group'>
    <button type="submit" class="btn btn-outline-info">Sign up</button>
    </div>
    </form>
    <div class = 'border-top pt-3'>
        <small class = 'text-muted'>
        Already Have An Account? <a class = 'ml-2' href='{% url "login" %}'>Login</a>
        </small>
    </div>
</div>
</div>

{% endblock feature_news %}

{% block subscribe_section %}
{% include "partials/subscribe_section.html" %}
{% endblock subscribe_section %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block uc_mobile %}
{% include "partials/uc_mobile.html" %}
{% endblock uc_mobile %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}